/* very important code  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  /* shadow  */
  --shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
  /* colors  */
  --white: #ffffff;
  --bg: #d5d2d2;
  --black: #111111;
  --red: #d44646;
  --yellow: #f2aa4cff;
}
/* common css  */
.container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
}
ul {
  list-style: none;
}
li {
  display: inline;
}
a {
  text-decoration: none;
}
.btn {
  padding: 10px 20px;
}
span {
  color: var(--red);
}
/* navbar section  */
.header {
  background: var(--bg);
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg);
  padding: 10px 0;
}
.navbar .navlinks ul li {
  padding-right: 20px;
}
.navbar .navlinks ul li a {
  color: var(--black);
}
/* banner section  */
.banner {
  background-image: url(../asset/image/background.jpg),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-repeat: no-repeat;
  height: 100vh;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .banner-info h1 {
  font-size: 80px;
  text-align: center;
  color: var(--white);
}
.banner .banner-info p {
  color: var(--white);
  text-align: center;
  padding: 10px 200px;
}
.banner-info .banner-btns {
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
}
.banner-info .banner-btns .btn:first-child {
  background: var(--red);
  color: var(--white);
}
.banner-info .banner-btns .btn:last-child {
  background: var(--white);
  color: var(--black);
  margin-left: 30px;
}
/* service section  */
.service {
  padding: 50px 50px 200px;
  background-image: url(../asset/image/footer-bg.png),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.service .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.service .info {
  margin-right: 30px;
}
.service .info .button a {
  background: var(--white);
  color: var(--black);
  border-radius: 25px;
}
.service .info h2 {
  color: var(--white);
  margin-top: 20px;
}
.service .info p {
  color: var(--white);
  margin-top: 30px;
}
.service .info ol.list {
  list-style-type: upper-roman;
  margin-top: 30px;
}
.service .info ol.list li {
  color: var(--white);
  display: block;
}
.service .info .about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.service .info .about .image-container {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}
.service .info .about .image-container img {
  width: 100%;
  height: 100%;
}
.service .info .about .more-details-btn {
  position: relative;
}
.service .info .about .more-details-btn::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -50px;
  background: var(--red);
  width: 2px;
  height: 110px;
}
.service .info .about .more-details-btn a {
  background: var(--white);
  color: var(--red);
  border-radius: 25px;
}
.service .info-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.service .info-card .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background: var(--white);
  border-radius: 10px;
}
.service .info-card .card img {
  width: 80px;
  height: 80px;
}
.service .info-card .card h3 {
  font-size: 16px;
  margin-top: 10px;
}
/* apointment section  */
.apointment {
  position: relative;
}
.apointment .container {
  background: var(--yellow);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding: 20px;
  position: absolute;
  right: 0;
  left: 0;
  top: -70px;
  border-radius: 15px;
}
.apointment .phone {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.apointment .phone img {
  height: 40px;
  width: 40px;
}
.apointment .phone p {
  color: var(--white);
}
.apointment .phone h4 {
  color: var(--white);
  font-size: 22px;
}
.apointment .apointment-about {
  color: var(--white);
  display: flex;
  align-items: center;
}
.apointment .apointment-btn {
  display: flex;
  align-items: center;
}
.apointment .apointment-btn a {
  background: var(--white);
  padding: 10px 20px;
  border-radius: 25px;
  color: var(--black);
  text-align: center;
}
/* blog section  */
.blog {
  margin-top: 100px;
}
.blog .container h2 {
  font-size: 60px;
  text-align: center;
}
.blog .container p {
  text-align: center;
}
.blog .blog-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
}
.blog .blog-card .card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--shadow);
}
.blog .blog-card .card img {
  width: 100%;
}
.blog .blog-card .card h3 {
  padding: 10px;
}
.blog .blog-card .card p {
  padding: 10px;
  text-align: left;
}
/* footer section  */
